<main>
  <h2>InstantRead</h2>
  <p>
    Visit url like&nbsp;
    <code>http://instantread.keipixel.com/?url={url}</code>
    &nbsp;to read web page in reader mode
  </p>
  <p>
    · Sample:&nbsp;
    <a href="http://instantread.keipixel.com/?url=https://instantview.telegram.org">https://instantread.keipixel.com/?url=https://instantview.telegram.org</a>
  </p>
  <p>
    · Send&nbsp;
    <code>https://t.me/iv?url={encodedUrl}&rhash=e810109a8f1a3b</code>
    &nbsp;to Telegram to read web page in Instant View mode
  </p>
  <p>
    WebParser is powered by&nbsp;
    <a href="https://mercury.postlight.com/web-parser">Mercury</a>
  </p>
</main>
