<main>
  <header id="header">
    <h1 id="title"><%= title %></h1>
    <p id="author"><%= author %></p>
    <p><time id="date"><%= date_published %></time></p>
    <p><a id="url" href="<%= url %>"><%= url %></a></p>
    <blockquote id="description"><%= excerpt %></blockquote>
  </header>
  <article id="article">
    <%- content %>
  </article>
</main>
