* {
  box-sizing: border-box;
}
body {
  font: 18px/1.6 'Avenir', 'Hiragino Sans', 'Helvetica Neue', 'Microsoft YaHei', 'sans-serif';
  color: #444;
  background: #f7f7f7;
  padding: 30px 15px;
}
body > main {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
  background: #fff;
}
body > main img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
}
code {
  color: #666;
  padding: 2px 6px;
  background: #efefef;
  border-radius: 2px;
  font: 16px/1.6 'Monaco', 'Consolas', 'Source Code Pro', 'monospace';
  white-space: pre-wrap;
  word-break: break-all;
}
pre {
  color: #666;
  padding: 15px;
  background: #efefef;
  border-radius: 2px;
  font: 16px/1.6 'Monaco', 'Consolas', 'Source Code Pro', 'monospace';
  overflow: hidden;
  overflow-x: auto;
}
a {
  color: #222;
  white-space: pre-wrap;
  word-break: break-all;
}
blockquote#description {
  border-left: 4px solid #ccc;
  padding-left: 1.3em;
  margin-left: 0;
}
